# ******************************************************************************
# Copyright (c) 2020-2021, Virtuozzo International GmbH.
# This source code is distributed under MIT software license.
# ******************************************************************************

[Unit]
Description=Connect to backend, usage service
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/cloudblue-usage
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
