{
    "logging": {
        "version": 1,
        "disable_existing_loggers": false,
        "formatters": {
            "single-line": {
                "class": "logging.Formatter",
                "format": "%(levelname)-6s; %(asctime)s; %(name)-6s; %(module)s:%(funcName)s:line-%(lineno)d: %(message)s"
            }
        },
        "handlers": {
            "console": {
                "level": "DEBUG",
                "class": "logging.StreamHandler",
                "formatter": "single-line",
                "stream": "ext://sys.stdout"
            },
            "file_daily": {
                "level": "DEBUG",
                "class": "logging.handlers.TimedRotatingFileHandler",
                "formatter": "single-line",
                "filename": "/var/log/cloudblue-connector/connector.log",
                "when": "MIDNIGHT",
                "backupCount": 30,
                "encoding": "utf-8"
            },
            "file_weekly_errors": {
                "level": "ERROR",
                "class": "logging.handlers.TimedRotatingFileHandler",
                "formatter": "single-line",
                "filename": "/var/log/cloudblue-connector/connector_errors.log",
                "when": "W0",
                "backupCount": 5,
                "encoding": "utf-8"
            },
            "syslog": {
                "level": "ERROR",
                "class": "logging.handlers.SysLogHandler",
                "formatter": "single-line",
                "address": ["localhost", 514],
                "facility": 1
            }
        },
        "root": {
            "handlers": ["file_daily", "file_weekly_errors", "console"],
            "level": "DEBUG"
        }
    }
}
